{% from "components/macros.html.jinja" import render_children with context %}
{% if text_container.ref %}
<a href="#" data-ref="{{ text_container.ref }}" class="perseus-reference tei-bibl">
    {{- render_children(text_container) -}}
</a>
{% else %}
<span class="tei-bibl">
    {{- render_children(text_container) -}}
</span>
{% endif %}
