{% from "components/macros.html.jinja" import render_children with context %}
{% set cts_urn = text_container.urn | default('unknown') %}
{% set is_strophic = text_container.type in ("antistrophe", "epode", "strophe") %}
{% if is_strophic %}
    <div class="relative">
        <div class="absolute right-0 select-none text-base-content/50 text-sm">
            {% if text_container.type == "epode" %}ep{% else %}{{ text_container.type[:3] }}{% endif %}.
            {{ text_container.n }}
        </div>
    </div>
{% endif %}
<div class="tei-div mb-4" data-urn="{{ cts_urn }}" role="presentation">
    {%- set section_n = ("<sup class=\"no-morph-link select-none\">" ~ text_container.n ~ " </sup>") | safe if text_container.type == "section" and text_container.n else None -%}
    {{- render_children(text_container, leading_prefix=section_n) -}}
</div>
