{% from "components/macros.html.jinja" import render_children with context %}
{% set cts_urn = text_container.urn | default('unknown') %}
{% set is_strophic = text_container.type in ("antistrophe", "epode", "strophe") %}

{% if is_strophic %}
    <div class="relative">
        <div class="absolute right-0 select-none text-neutral-500 text-sm">
            {% if text_container.type == "epode" %}ep{% else %}{{ text_container.type[:3] }}{% endif %}.
            {{ text_container.n }}
        </div>
    </div>
{% endif %}
<div class="prose tei-div mb-4" data-urn="{{ cts_urn }}" role="presentation">
    <div>
        {{- render_children(text_container) -}}
    </div>

</div>
