{% from "components/macros.html.jinja" import render_children with context %}
<div class="tei-p">
    {%- if leading_prefix %}{{ leading_prefix }}{% endif -%}
    {{- render_children(text_container) -}}
</div>
