{% from "components/macros.html.jinja" import render_children, reference_dropdown with context %}
{% if text_container.target %}
    {{ reference_dropdown(text_container, text_container.target, "tei-ref") }}
{% else %}
    <span class="tei-ref">{{- render_children(text_container) -}}</span>
{% endif %}
