<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}{% endblock %}</title>
        <link
            href="{{ url_for('static', filename="images/favicon.png") }}"
            rel="icon"
            type="image/png"
        />
        <link
            href="{{ url_for('static', filename="css/output.css") }}"
            rel="stylesheet"
            type="text/css"
        />
    </head>
    <body class="bg-neutral-50 min-h-screen" data-theme="wireframe">
        {% block header %}{% endblock %}
            <div class="navbar bg-neutral-400 text-neutral-50 font-bold">
                <div class="navbar-start">
                    <div class="dropdown">
                        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
                            </svg>
                        </div>
                        <ul tabindex="-1"
                            class="menu menu-sm dropdown-content bg-neutral-400 z-1 mt-3 w-52 p-2 shadow">
                            <li><a href="{{ url_for('index') }}" class="hover:text-base-content">Home</a></li>
                            <li><a href="{{ url_for('get_collections') }}" class="hover:text-base-content">Collections/Texts</a></li>
                            <li><a href="https://catalog.perseus.org" class="hover:text-base-content">Perseus Catalog</a></li>
                            <li><a href="{{ url_for('get_research') }}" class="hover:text-base-content">Research</a></li>
                            <li><a href="{{ url_for('get_grants') }}" class="hover:text-base-content">Grants</a></li>
                            <li><a href="{{ url_for('get_open_source') }}" class="hover:text-base-content">Open Source</a></li>
                            <li><a href="{{ url_for('get_about') }}" class="hover:text-base-content">About</a></li>
                            <li><a href="{{ url_for('get_abbreviations') }}" class="hover:text-base-content">Abbreviations</a></li>
                            <li><a href="{{ url_for('get_help') }}" class="hover:text-base-content">Help</a></li>
                        </ul>
                    </div>
                </div>
                <div class="navbar-center hidden lg:flex">
                    <ul class="menu menu-horizontal px-1">
                        <li><a href="{{ url_for('index') }}" class="hover:text-base-content">Home</a></li>
                        <li><a href="{{ url_for('get_collections') }}" class="hover:text-base-content">Collections/Texts</a></li>
                        <li><a href="https://catalog.perseus.org" class="hover:text-base-content">Perseus Catalog</a></li>
                        <li><a href="{{ url_for('get_research') }}" class="hover:text-base-content">Research</a></li>
                        <li><a href="{{ url_for('get_grants') }}" class="hover:text-base-content">Grants</a></li>
                        <li><a href="{{ url_for('get_open_source') }}" class="hover:text-base-content">Open Source</a></li>
                        <li><a href="{{ url_for('get_about') }}" class="hover:text-base-content">About</a></li>
                        <li><a href="{{ url_for('get_abbreviations') }}" class="hover:text-base-content">Abbreviations</a></li>
                        <li><a href="{{ url_for('get_help') }}" class="hover:text-base-content">Help</a></li>
                    </ul>
                </div>
                <div class="navbar-end" />
            </div>
        </div>
        {% block content %}
        {% endblock %}
        {% block scripts %}{% endblock %}
    </body>
</html>
