{% extends "base.html.jinja" %}

{% block title %}Perseus Digital Library{% endblock %}

{% block header %}
    <div class="p-4">
        <img src="{{ url_for('static', filename='images/perseus-banner.png') }}" />
    </div>
{% endblock %}

{% block content %}
<main class="p-8">
    <section class="mx-auto text-center">
        <h1 class="text-xl font-bold">Welcome to Perseus</h1>
        <p class="text-md">A statically compiled reading environment of the Perseus digital library</p>
        <p>
            Read more on the <a href="{{ url_for("get_history") }}" class="link">Perseus version history</a>.
        </p>
    </section>

    <div class="grid gap-4 lg:grid-cols-3">
        <section class="prose">
            {% with markdown_content = news_markdown %}
                {% include 'components/MarkdownContainer.html.jinja' %}
            {% endwith %}
        </section>

        <section class="grid grid-cols-1 lg:grid-cols-2 gap-4">
            <h2 class="col-span-1 lg:col-span-2 my-4 text-xl font-bold">Perseus Art & Archaeology</h2>

            <div class="card bg-base-50 w-full shadow-sm overflow-hidden">
                <a class="group relative block aspect-square" href="https://perseus-aa.github.io/items/aa_5573.html#i1992070563" title="View on Perseus Art & Archaeology">
                    <img class="absolute inset-0 h-full w-full object-cover" alt="Name vase of the Orpheus Painter, Berlin V. I. 3172" src="//iiif.perseus.tufts.edu/iiif/3/1992.07.0563/full/max/0/default.jpg" />
                    <div class="absolute inset-0 flex items-end bg-black/70 p-4 text-white opacity-0 transition-opacity duration-300 group-hover:opacity-100">
                        <p>Name vase of the Orpheus Painter, Berlin V. I. 3172</p>
                    </div>
                </a>
            </div>
            <div class="card bg-base-50 w-full shadow-sm overflow-hidden">
                <a class="group relative block aspect-square" href="https://perseus-aa.github.io/items/aa_954.html#i1997030009" title="View on Perseus Art & Archaeology">
                    <img class="absolute inset-0 h-full w-full object-cover" alt="Coin with bust of Nero, Boston 1997.93" src="//iiif.perseus.tufts.edu/iiif/3/1997.03.0009/full/max/0/default.jpg" />
                    <div class="absolute inset-0 flex items-end bg-black/70 p-4 text-white opacity-0 transition-opacity duration-300 group-hover:opacity-100">
                        <p>Coin with bust of Nero, Boston 1997.93</p>
                    </div>
                </a>
            </div>
            <div class="card bg-base-50 w-full shadow-sm overflow-hidden">
                <a class="group relative block aspect-square" href="https://perseus-aa.github.io/items/aa_163.html#i1989010041" title="View on Perseus Art & Archaeology">
                    <img class="absolute inset-0 h-full w-full object-cover" alt="Tholos at Delphi" src="//iiif.perseus.tufts.edu/iiif/3/1989.01.0041/full/max/0/default.jpg" />
                    <div class="absolute inset-0 flex items-end bg-black/70 p-4 text-white opacity-0 transition-opacity duration-300 group-hover:opacity-100">
                        <p>Tholos at Delphi</p>
                    </div>
                </a>
            </div>
            <div class="card bg-base-50 w-full shadow-sm overflow-hidden">
                <a class="group relative block aspect-square" href="https://perseus-aa.github.io/items/aa_2634.html#i1997990211" title="View on Perseus Art & Archaeology">
                    <img class="absolute inset-0 h-full w-full object-cover" alt="Roman copy of Nemesis Rhamnous" src="//iiif.perseus.tufts.edu/iiif/3/1997.99.0211/full/max/0/default.jpg" />
                    <div class="absolute inset-0 flex items-end bg-black/70 p-4 text-white opacity-0 transition-opacity duration-300 group-hover:opacity-100">
                        <p>Marble statue of Nemesis Rhamnous (Roman copy), photograph by Amy C. Smith</p>
                    </div>
                </a>
            </div>

        </section>
        <section class="my-4 mx-auto">
            <h2 class="text-lg font-bold">Popular Texts</h2>
            <ul role="list" class="list-disc">

                <li>
                    Caesar, <em>Gallic War</em> (<a title="Read now" class="link" href="{{ url_for("get_first_chunk", corpus="latinLit", textgroup="phi0448", work="phi001", version="perseus-eng2") }}">English</a>,
                    <a title="Read now" class="link" href="{{ url_for("get_first_chunk", corpus="latinLit", textgroup="phi0448", work="phi001", version="perseus-lat2") }}")>Latin</a>)
                </li>

                <li>
                    Catullus, <em>Carmina</em> (<a title="Read now" class="link" href="{{ url_for("get_first_chunk",
                    corpus="latinLit", textgroup="phi0472", work="phi001", version="perseus-eng3") }}">English</a>,
                    <a title="Read now" class="link" href="{{ url_for("get_first_chunk", corpus="latinLit", textgroup="phi0472", work="phi001", version="perseus-lat2") }}")>Latin</a>)
                </li>

                <li>
                    Cicero, <em>In Catilinam</em> (<a title="Read now" class="link" href="{{ url_for("get_first_chunk",
                    corpus="latinLit", textgroup="phi0474", work="phi013", version="perseus-eng2") }}">English</a>,
                    <a title="Read now" class="link" href="{{ url_for("get_first_chunk", corpus="latinLit", textgroup="phi0474", work="phi013", version="perseus-lat2") }}")>Latin</a>)
                </li>

                <li>
                    Vergil, <em>Aeneid</em> (<a title="Read now" class="link" href="{{ url_for("get_first_chunk",
                    corpus="latinLit", textgroup="phi0690", work="phi003", version="perseus-eng2") }}">English</a>,
                    <a title="Read now" class="link" href="{{ url_for("get_first_chunk", corpus="latinLit", textgroup="phi0690", work="phi003", version="perseus-lat2") }}")>Latin</a>)
                </li>

                <li>
                    Homer,
                    <em>Odyssey</em> (<a title="Read now" class="link" href="{{ url_for("get_first_chunk", corpus="greekLit", textgroup="tlg0012", work="tlg002", version="perseus-eng4") }}">English</a>,
                    <a title="Read now" class="link" href="{{ url_for("get_first_chunk", corpus="greekLit", textgroup="tlg0012", work="tlg002", version="perseus-grc2") }}">Greek</a>)
                </li>


                <li>
                    Herodotus,
                    <em>Histories</em> (<a title="Read now" class="link" href="{{ url_for("get_first_chunk", corpus="greekLit", textgroup="tlg0016", work="tlg001", version="perseus-eng2") }}">English</a>,
                    <a title="Read now" class="link" href="{{ url_for("get_first_chunk", corpus="greekLit", textgroup="tlg0016", work="tlg001", version="perseus-grc2") }}">Greek</a>)
                </li>


                <li>
                    Plato,
                    <em>Republic</em> (<a title="Read now" class="link" href="{{ url_for("get_first_chunk", corpus="greekLit", textgroup="tlg0059", work="tlg030", version="perseus-eng2") }}">English</a>,
                    <a title="Read now" class="link" href="{{ url_for("get_first_chunk", corpus="greekLit", textgroup="tlg0059", work="tlg030", version="perseus-grc2") }}">Greek</a>)
                </li>
            </ul>
        </section>
    </div>


</main>

<footer class="footer sm:footer-horizontal bg-neutral-300 p-4 text-neutral-800">
    <div id="contact_info">
        <p>Perseus contact and support <a href="/hopper/help">information</a>.</p>

        <p>Perseus is a non-profit enterprise, located in the
            <a class="link" target="_blank" href="//ase.tufts.edu/classics" onclick="javascript: pageTracker._trackPageview('/outgoing/ClassicsDept');">Department
            of  Classical Studies</a>,
            <a class="link" target="_blank" href="//www.tufts.edu" onclick="javascript: pageTracker._trackPageview('/outgoing/Tufts');">Tufts
            University</a>.</p>

            <p>The Perseus Project has been supported by various funders throughout its history:</p>
            <p>Perseus has been most recently funded by the <a class="link" target="_blank" href="//alpheios.net" onclick="javascript: pageTracker._trackPageview('/outgoing/Alpheios');">Alpheios
            Project</a>, the
            <a class="link" target="_blank" href="//www.mellon.org/" onclick="javascript: pageTracker._trackPageview('/outgoing/Mellon');">Andrew
            W. Mellon Foundation</a>, the

            <a class="link" target="_blank" href="//www.imls.gov/" onclick="javascript: pageTracker._trackPageview('/outgoing/IMLS');">Institute
            of Museum and Library Services</a>, the
            <a class="link" target="_blank" href="//www.neh.gov/" onclick="javascript: pageTracker._trackPageview('/outgoing/NEH');">National
                Endowment for the Humanities</a>, the
                <a class="link" target="_blank" href="//www.nsf.gov/" onclick="javascript: pageTracker._trackPageview('/outgoing/NSF');">National
                    Science Foundation</a>,
                    <a href="/hopper/help/support.jsp">private donations</a>, and
                    <a class="link" target="_blank" href="//www.tufts.edu/" onclick="javascript: pageTracker._trackPageview('/outgoing/Tufts');">Tufts
            University</a>.
        </p>

        <p>Prior support for the project has been provided by the
            <a class="link" target="_blank" href="//www.learner.org/" onclick="javascript: pageTracker._trackPageview('/outgoing/Annenberg');">Annenberg/CPB
            Project</a>,
            <a class="link" target="_blank" href="//www.apple.com/" onclick="javascript: pageTracker._trackPageview('/outgoing/Apple');">Apple Computer</a>, the
            <a class="link" target="_blank" href="//www.library.tufts.edu/tisch/Berger/bergerhome.html" onclick="javascript: pageTracker._trackPageview('/outgoing/Berger');">Berger
            Family Technology Transfer Endowment</a>,
            <a class="link" target="_blank" href="//www.dli2.nsf.gov/" onclick="javascript: pageTracker._trackPageview('/outgoing/DLI2');">Digital
            Libraries Initiative Phase 2</a>,
            the <a class="link" target="_blank" href="//www.ed.gov/FIPSE/" onclick="javascript: pageTracker._trackPageview('/outgoing/FIPSE');">Fund
            for the Improvement of Postsecondary Education</a>
            part of the <a class="link" target="_blank" href="//www.ed.gov/" onclick="javascript: pageTracker._trackPageview('/outgoing/DeptOfEd');">U.S.
            Department of Education</a>,
            the <a class="link" target="_blank" href="//www.getty.edu/grant/" onclick="javascript: pageTracker._trackPageview('/outgoing/Getty');">Getty
            Grant program</a>, the
            <a class="link" target="_blank" href="//www.mla.org/" onclick="javascript: pageTracker._trackPageview('/outgoing/MLA');">Modern Language Association</a>, the
            <a class="link" target="_blank" href="//arts.endow.gov/" onclick="javascript: pageTracker._trackPageview('/outgoing/NEA');">National
            Endowment for the Arts</a>,  the
            <a class="link" target="_blank" href="//www.packhum.org/" onclick="javascript: pageTracker._trackPageview('/outgoing/Packard');">Packard
            Humanities Institute</a>,
            <a class="link" target="_blank" href="//www.xerox.com/" onclick="javascript: pageTracker._trackPageview('/outgoing/Xerox');">Xerox Corporation</a>,
            <a class="link" target="_blank" href="http://web.bu.edu/" onclick="javascript: pageTracker._trackPageview('/outgoing/BU');">Boston University</a>, and
            <a class="link" target="_blank" href="//www.harvard.edu/" onclick="javascript: pageTracker._trackPageview('/outgoing/Harvard');">Harvard University</a>.
        </p>
    </div>
</footer>
{% endblock %}
