{% extends 'base.html.jinja' %}

{% block title %}{{ page_title }} – Perseus Digital Library{% endblock %}

{% block header %}
    <div class="py-4">
        <img src="{{ url_for('static', filename='images/perseus-banner.png') }}" />
    </div>
{% endblock %}

{% block content %}
    <main class="p-8">

    {% include 'components/MarkdownContainer.html.jinja' %}

    </main>
{% endblock %}
