{% extends 'base.html.jinja' %}

{% block title %}{{ page_title }} – Perseus Digital Library{% endblock %}

{% block content %}
    <main class="p-8">

    {% include 'components/MarkdownContainer.html.jinja' %}

    </main>
{% endblock %}
