@import "tailwindcss";

@source not "./tailwindcss";
@source not "./daisyui{,*}.mjs";

@plugin "@tailwindcss/typography";

@plugin "./daisyui.mjs" {
    themes: wireframe --default;
}

.tei-milestone {
    @apply mx-4;
}

.prose {
    counter-reset: tei-note;
}

.tei-note-trigger {
    counter-increment: tei-note;
}

.tei-note-trigger::before {
    content: counter(tei-note);
    font-size: 1em;
    vertical-align: super;
}
