@import "tailwindcss";

@source not "./tailwindcss";
@source not "./daisyui{,*}.mjs";

@plugin "@tailwindcss/typography";

@plugin "./daisyui.mjs" {
    themes: wireframe --default, corporate, retro, cyberpunk, lofi, nord, autumn;
}

.tei-milestone {
    @apply mx-1;
    @apply border-l-2;
    @apply border-red-800;
}

.tei-milestone[data-unit="para"]::after {
    @apply indent-4;
    @apply whitespace-pre;
}

.tei-milestone[data-unit="para"]::after {
    content: "\a\a";
}

.tei-lg > .tei-l {
    text-indent: 4em;
}
