<li>
    {% if item.get("subpassages", [])|length > 0 %}
        <details>
            <summary>
                {% if item.get("endpoint") %}
                    <a id="{{ item.urn }}" href="{{ url_for(item.endpoint, **item.route_kwargs) }}">{{ item.label }}</a>
                {% else %}
                    <span>
                        {{ item.label }}
                    </span>
                {% endif %}
            </summary>
            <ul>
                {% for child in item.get("subpassages") %}
                    {% with item = child %}
                        {%- include 'components/NavigationItem.html.jinja' -%}
                    {% endwith %}
                {% endfor %}
            </ul>
        </details>
    {% elif item.get("endpoint") %}
        <a id="{{ item.urn }}" href="{{ url_for(item.endpoint, **item.route_kwargs) }}">{{ item.label }}</a>
    {% else %}
        <span>{{ item.label }}</span>
    {% endif %}
</li>
