<li>
    {% if item.get("subpassages", [])|length > 0 %}
        <details {% if current_urn.startswith(item.urn) %}open="true"{% endif %}>
            <summary>
                {% if item.get("endpoint") %}
                    <a href="{{ url_for(item.endpoint, **item.route_kwargs) }}"{% if item.urn == current_urn %} class="menu-active"{% endif %}>{{ item.label }}</a>
                {% else %}
                    <span>
                        {{ item.label }}
                    </span>
                {% endif %}
            </summary>
            <ul>
                {% for child in item.get("subpassages") %}
                    {% with item = child %}
                        {%- include 'components/NavigationItem.html.jinja' -%}
                    {% endwith %}
                {% endfor %}
            </ul>
        </details>
    {% elif item.get("endpoint") %}
        <a href="{{ url_for(item.endpoint, **item.route_kwargs) }}"{% if item.urn == current_urn %} class="menu-active"{% endif %}>{{ item.label }}</a>
    {% else %}
        <span>{{ item.label }}</span>
    {% endif %}
</li>
